@tailwind base;
@tailwind components;
@tailwind utilities;

/* to use in tw: 
  - for text: text-app, text-second
  - other colors: bg-appBg, border-primary-main

  to use in mui sx():
  - var(--textApp), var(--text-second), var(--appBg), var(primary-main)
*/

:root {
  /* other colors */
  --secondaryBg: #253662;
  --secondaryBg05: rgba(37, 54, 98, 0.5);
  --primary-main: #0ea5e9;
  --primary-light: #1455967d;
  --primary-dark: #6366f1;
  --light: #ebedf1;
  --light-grey: #7c8fac;
  --error: #c24122;
  --success: #23a516;

  /* theme vars */
  --textApp: var(--light);
  --appBg: #000319;
  --appBg05: rgba(0, 3, 25, 0.5);
  --text-second: #7c8fac;
  --dateFilter: 0.8
}


.theme-light {
  --textApp: black;
  --appBg: white;
  --dateFilter: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(var(--dateFilter));
}

body {
  @apply bg-appBg;
}

.bg-pattern {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 30px 30px;
}

.clip-text {
  background-clip: text;
  color: transparent;
}

/*@container media query for client form responsiveness*/
.clientForm {
  container-type: inline-size;
}

@container (width < 360px) {
  .fieldGroup {
    flex-wrap: wrap;
  }
}